<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>[[title]]</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link href="[[ url_for('static', filename='img/favicon.ico') ]]" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="[[ url_for('static', filename='layui/css/layui.css') ]]" type="text/css" media="all">
    <style></style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header" style="background-color: transparent">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <div class="layui-input-inline">
                <input type="password" name="password" lay-verify="pass" placeholder="请输入密码" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div style="width: 100%;height: 60px;text-align: center;line-height: 60px">
            <span style="font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span style="font-size: 20px;">这是一个题目放假了开始就颠覆了时代峻峰</span>
            <span class="layui-badge">Hard</span>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                {% for key, values in menu.items() %}
                <li class="layui-nav-item [['layui-nav-itemed' if key is equalto catalog else '']]">
                    <a class="" href="javascript:;">[[key]]</a>
                    <dl class="layui-nav-child">
                        {% for value in values %}
                            <dd class="[['layui-this' if value.get('name') is equalto subject else '']]">
                                <a href=[[link]]>[[value.get("title")]]</a>
                            </dd>
                        {% endfor %}
                    </dl>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div>
            <div class="layui-row">
                <div class="layui-col-md12" style="text-align: center;color: #999999">
                    题目来源：LeetCode | <a href="javascript;" style="color: #999999">点击跳转原地址</a>
                </div>
            </div>
            <div class="layui-row layui-col-space6">
                <div class="layui-col-md6">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title" style="text-align: center;">
                            <li class="layui-this">题目</li>
                            <li>题解</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show" style="padding: 7px;"></div>
                            <div class="layui-tab-item">内容2</div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title" style="text-align: center;">
                            <li class="layui-this">C++</li>
                            <li>Java</li>
                            <li>Python</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show" style="padding: 7px;">
                                <pre class="layui-code" lay-title="C++">电风扇水电费</pre>
                            </div>
                            <div class="layui-tab-item">内容2</div>
                            <div class="layui-tab-item">内容3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    <div class="layui-footer">-->
    <!--        &lt;!&ndash; 底部固定区域 &ndash;&gt;-->
    <!--    </div>-->
</div>

<script src="[[ url_for('static', filename='layui/layui.js') ]]"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>-->
<script>
    layui.use(['element', 'layer', 'code'], function () {
        var element = layui.element
            , layer = layui.layer
            , $ = layui.$;
        layui.code();
        // $("#content").html(marked('# Marked in the browser\n\nRendered by **marked**.'))
    });
</script>
</body>
</html>